*{
    padding: 0;
    margin: 0;
    color: #655C56;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-size: 14px;
    background: url('./img/fondo.jfif');
}
/* .backgroundChange{
    background-color: #D3BBF2;
} */

/* PÁGINA DE INICIO */
.titles, .titleProfile, .titleProfilePerso, .titleProfileSchedule, .titleProfilePlaces, .titleProfileBio{
    color: #393e46;
    font-size:18px;
}
.titleProfilePerso, .titleProfileSchedule, .titleProfilePlaces, .titleProfileBio{
    font-size:12px;
}
#logo{
    width: 150px;
    align-items: center;
}
.logoImg{
    width: 100%;
}
#initialPage{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.62);
}
/* SIGN IN */
#photoInitialPage{
    display: none;
    width:60%;
}

#photoLogin{
    width: auto;
    height: 100vh;
}
#containerSignIn, #containerCreateProfile {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#signIn, #createProfile { 
    display: flex;
    flex-flow: column;
    width: 261px;
    height: 479px;  
    background: #FFFFFF;
    border: 0.5px solid rgba(100, 116, 130, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding:10px;
}
.questionSignIn, .questionCreateProfile{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center ;
    padding: 10px;
}
#logoSignIn, #logoCreateProfile{
    display: flex;
    width: 100px; 
    align-self: center;
    margin-bottom: 5px;    
}
#titleSignIn, #titleCreateProfile{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color:#1E3250;
    margin-bottom: 50px;
    font-weight: bold;
}
.inputs, .inputSelect, #biographyDog{
    width: 230px;
    height: 25px;
    border: none;
    background: #E6E3F4;
    padding:5px;
    margin: 5px;
}
.inputSelect{
    height: 30px;
    font-size:14px;
}
#biographyDog{
    height: 60px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    resize: none;
}

#btnLogin, .btnContinue, .btnCreateProfile, .btnLogOut, .eliminateProfile{
    width: 236px;
    height: 25px;
    border: none;
    background: #943DD8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;  
    text-align: center;
    padding: 1px;
    text-decoration: none;
}
.btnCreateProfile, #btnCreateProfile16{
    text-decoration: none;
    padding: 5px 100px;
}
.btnLogOut, .hideButton, .btnContinue{
   margin-top: 100px;
}
.btnLogOut, .eliminateProfile{
    margin-top:5px;
    width: 160px;
    padding:3px 40px;
}
.hideButton{
    width: 236px;
    height: 25px;
    border: none;
    background-color: #cccccc;
    border-radius: 12px;
}
.hide{
    display: none;
}
/* MAIN SCREEEN */
#mainContentInitialPage{
    padding-top: 200px;
    background: white;
    padding-bottom: 395px;
    text-align:center;
    font-weight:bold;
    /* overflow-y: hidden; */
}
header{
    position: fixed;
    width: 100%;
    height: auto;
    background: #D3BBF2;
    box-shadow: 0px 4px 4px rgba(67, 65, 68, 0.25);
}
#logoHeader{
    display: flex;
    width: 100px; 
    align-self: flex-start;
    padding: 5px;
}
.buttonsHeader{
    display: none;
}

footer{
    width: 100%;
    bottom:0;
    padding-top:10px;
    position: fixed;
    background: #F2F2F2;
    border: 1px solid rgba(180, 180, 180, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:60px;
}
.home,.paw,.profile{
    width:40px;
}
.iconsFooter{
    width:100%;
}

/* PROFILE */

#myProfile,#otherProfile{
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-bottom: 20px;
}
#profilePicInfo, #personalitySchedule, #containerPawLikes{
    display: flex;
    flex-direction: row;
    justify-self: space-around;
}
#containerPawLikes{
    margin-top:15px;
}

.imgProfilePic{  
    width: 140px;
}
#myProfilePic,#profilePhotoOther{
    width: 100%;
}
.nametitles{
    font-size: 22px;
    line-height: 26px;
    color: #1E3250;
}
.nameInfo{
    margin: 20px  40px 0px 40px;
    width: auto;
    height: 100px;
    color: #1E3250;
    text-align: center;
}
.titleProfilePerso{
    width: 65px;
    height: 13px;
    margin-top: 20px;
    margin-bottom: 5px;
}
#infoPersonality{
    font-size:16px;
    width: 95px;
    height: 75px;
    margin-right:40px;
}
.titleProfileSchedule{
    margin-top:18px;
    margin-bottom: 5px;
}
#infoSchedule{
    width: 150px;
    height: 75px;
}
.titleProfilePlaces, .titleProfileBio{
    margin-top: 15px;
    margin-bottom: 5px;
}
#infoPlaces, #infoBio{
    font-size:16px;
    width: 296px;
    height: 60px; 
}
#infoBio{
    height: auto;
}
.styleContainerProfile{
    background-color: #E6E3F4;;
    border-radius: 10px;
    padding: 5px 10px;
}
.texts, .infoBasic, .textsShedule{
    font-size: 16px;
    line-height: 18px;
}
.textsShedule{
    font-size: 16px;
}
#contenidoDeLikes{
    margin-top:3px;
    margin-left: 7px;
}
#iconPawMyprofile{
    width: 25px;
}
/* google btn */
.google-btn {
    width: 184px;
    height: 42px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.google-icon-wrapper {
      position: absolute;
      margin-top: 1px;
      margin-left: 1px;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      background-color: white;
}
.google-icon {
      position: absolute;
      margin-top: 11px;
      margin-left: 11px;
      width: 18px;
      height: 18px;
}
.btn-text {
      float: right;
      margin: 11px 11px 0 0;
      color: white;
      font-size: 14px;
      letter-spacing: 0.2px;
      font-family: "Roboto";
}

.google-btn:hover {
    box-shadow: 0 0 6px #1669F2;
}
    /* .google-btn:active {
      background:#1669F2;
    } */



/* claramente un error mensaje */
.erromensaje{
    font-size: 13px;
    color:red;
    font-weight: bold;
    margin-left: 20px;
}   
/* input del perro foto */
#photoDog{
    display: none;
}
/* nuevo input personalizado */
.avatar{
    display: inline-block;
    color: black;
    width: 150px;
    padding: 5px 20px;
    border-radius: 13px;
    background-color: #dddddd;
    cursor: pointer;
}
/* botones del formualrio con estilo propio */
#btnCreateProfile6, #btnCreateProfile8{
    margin-top: 20px;
}
#btnCreateProfile14, #btnCreateProfile13,#btnCreateProfile12,#btnCreateProfile15{
   margin-top:30px;
}
#btnCreateProfile14{
    margin-top:10px;
}
/* perfil */
.titleMyProfile{
   margin-top: 10px;
    color: #647482;
    font-size: 22px;
}

/* Liked Dogs */
#likesProfiles{
    display: flex;
    flex-flow: row wrap;
    padding-top: 60px;
    padding-bottom: 75px;
}
.imgProfileDog, .imgProfileDogFeed, .iconPawLikesFeed{
    width: 100%;
}
.containerImgProfileDog{
    width:150px;
    height:140px;
}

.containerDoggys{
    width: 150px;
    height: 218px;
    margin-left: 20px;
    padding:10px 0px 30px 0px;
    background: #FFFFFF;
    border: 0.5px solid rgba(100, 116, 130, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top:20px;
}
.nameDogLikedDogs, .location, .nameDogFeed, .locationFeed{
    font-weight: bold;
    font-size: 16px;
    padding: 4px;
    color: #1E3250;
    text-align: center;
}
.location{
    font-weight: normal;
    font-size: 12px;
    margin-top:10px;
}
.pawLikedPaw{
    margin-left: 10px;
    width: 20px;
}
.iconPawLikes{
    margin-top: 10px;
    width:100%;
}
.contentLikes{
    margin-left:35px;
    margin-top:-22px; 
}
/* Home dos */
#contentHome{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px;
}
.profilesDogsHome{
    width: 291px;
    height: 459px;
    background: #FFFFFF;
    border: 0.5px solid rgba(100, 116, 130, 0.5);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 
    margin-bottom:40px;
}
.nameDogFeed{
    font-size: 25px;
}
.locationFeed{
    font-size: 19px;
    font-weight: normal;
}
.pawLikedPawFeed{
    width: 30px;
    margin: 40px 0px 20px 20px;
}
.contentLikesFeed{
    font-size: 16px;
    margin: -50px 0px 0px 60px;
}
#menuBar{
    display:flex;
    margin-top:59px;
    position: fixed;
    flex-direction: column;
    right:-300px;
    align-items: center;
    background-color:#D3BBF2;
    padding:10px;
    border-radius:5px;
    transition: all 200ms ease-out;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#menuBar.active{
    right:0;
}
.headerHome{
   display: flex;
   flex-flow: column nowrap;
}
.toggle{
    font-size:25px;
    margin: 40px 20px 10px 0px;
    color:black;
    border: 0.5px solid #655C56;
    cursor: pointer;
    padding: 0px 2px;
}
#logoAndToggle{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#contentToggle{
    margin-top: -44px;
    align-self: flex-end;
    padding-bottom:10px;
}
textarea{
    border:1px solid #D3BBF2;
    border-radius:5px;
}
/*Parte de la barra de cada pregunta */
#contentProgress{
    width: 230px;
    height: 7px;
    margin-top: 40px;
    margin-left:10px;
    padding: 2px;
    background: #E6E3F4;
    border-radius: 2px;
}
#questOne, #questTwo, #questThree, #questFour, #questFive, #questSix,#questSeven, #questEight,#questNine,#questTen,#prefOne,#prefTwo,#prefThree,#prefFour,#signInOne,#signInTwo{
    width: 20px;
    height: 5.5px;
    background: #583DD8;
    border-radius: 2px;
}
#questTwo,#questThree, #questFour,#questFive, #questSix,#questSeven, #questEight,#questNine,#questTen{
    margin-left:23px;
}
#prefOne, #prefTwo,#prefThree, #prefFour{
    width:54px;
}
#prefTwo,#prefThree, #prefFour{
    margin-left:58px; 
}
#signInOne,#signInTwo{
    width:110px;
}
#signInTwo{
    margin-left:115px;
}

@media screen and (min-width:1024px){
    #photoInitialPage{
        display: block;
    }
    #photoContentInitialPage{
        display: flex;
        flex-flow: row wrap;
    }
    #initialPage{
        width:40%;
    }
    #signIn, #createProfile { 
        width: 400px;
        height: 580px;  
        padding: 10px 20px;
    }
    #titleSignIn, #titleCreateProfile{
        justify-content: space-between;
    }
    .titles{
        font-size:22px;
    }
    .btnCreateProfile{
        display: flex;
        align-content: space-evenly;
        margin-left: 20px;
    }
    footer{
        display: none;
    }
    
    #logoAndToggle, #headerLikeDogs{
        justify-content: space-around;
        align-items: center;
    }
    .paw, .home, .profile{
        margin-left: 20px;
    }
    .buttonsHeader{
        display: flex;
        align-content: space-evenly;
        margin-left: 20px;
    }
    #contentHome, #likesProfiles {
        padding-top: 80px;
        flex-flow: row wrap;
        justify-content:space-evenly;
    }
    .profilesDogsHome{
        width: 350px;
        height: 530px;
        margin: 0px 90px 80px 90px;
    }
    #headerLikeDogs{
        display: flex;
        flex-direction: row;
    }
    #likesProfiles{
        padding-top: 160px;
        margin: 0px 90px 0px 90px;
    }
    .containerDoggys{
        width: 250px;
        height: 350px;
        margin-left: 20px;
        padding:10px 0px 40px 0px;
        margin-bottom: 80px;
        margin-top:20px;
    }
    .containerImgProfileDog{
        width:250px;
        height:140px;
    }
    .nameDogLikedDogs, .location, .nameDogFeed, .locationFeed{
        font-size: 20px;
        padding: 8px;
        text-align: center;
    }
    .location{
        font-size: 18px;
        margin-top:120px;
    }
    .pawLikedPaw{
        margin-left: 10px;
        width: 30px;
    }
    .iconPawLikes{
        margin-top:10px;
        width:100%;
    }
    .contentLikes{
        margin-left:55px;
        margin-top:-32px; 
    }
    #myProfile{
        width:50%;
        height:100vh;
        padding: 70px 0px 20px 70px;
    }
    .imgProfilePic{  
        width: 240px;
        height: 10px;
    }
    .nameInfo{
        margin: 40px  60px 20px 100px;
        width: auto;
        height: 200px;
    }
    .nametitles{
        font-size: 30px;
        line-height: 28px;
    }
    .infoBasic{
        font-size: 18px;
        line-height: 20px;
    }
    .titleProfilePerso, .titleProfileSchedule, .titleProfilePlaces, .titleProfileBio{
        font-size:16px;
    }
    #infoPersonality{
        width: 200px;
        height: 75px;
        margin-top: 13px;
    }
    #infoSchedule{
        width: 200px;
        height: 75px;
    }
    #infoPlaces, #infoBio{
        width: 450px;
        height: 80px; 
    }
    #infoBio{
        height:auto;
    }
    #iconPawMyprofile{
        width:35px;
    }
    .textsShedule, .texts{
        font-size: 19px;
    }
    #contentToggle{
        align-self: right;
    }
    #containerPawLikes{
        margin-top: 50px; 
    }
    #contenidoDeLikes{
        margin-top: 8px;
    }

}