*{
    padding: 0;
    margin: 0;
    color: #655C56;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-size: 14px;
    background: url('./img/fondo.jfif');
}
/* PÁGINA DE INICIO */
.titles, .titleProfile, .titleProfilePerso, .titleProfileSchedule, .titleProfilePlaces, .titleProfileBio{
    color: #393e46;
    font-size:18px;
    text-decoration:none; 
}
.titleProfilePerso, .titleProfileSchedule, .titleProfilePlaces, .titleProfileBio{
    font-size:12px;
}
#logo{
    width: 150px;
    align-items: center;
}
.logoImg{
    width: 100%;
}
#initialPage{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.62);
}
/* SIGN IN */
#photoInitialPage{
    display: none;
    width:60%;
}

#photoLogin{
    width: auto;
    height: 100vh;
}
#containerSignIn, #containerCreateProfile, #containerForgetPassword {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}
#signIn, #createProfile, #forgetPassword{ 
    display: flex;
    flex-flow: column;
    width: 261px;
    height: 479px;  
    background: #FFFFFF;
    border: 0.5px solid rgba(100, 116, 130, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding:10px;
}
.questionSignIn, .questionCreatreProfile{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center ;
    padding: 10px;
}
#logoSignIn, #logoCreateProfile{
    display: flex;
    width: 100px; 
    align-self: center;
    margin-bottom: 5px;    
}
#titleSignIn, #titleCreateProfile,#titlesForget{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    color:#1E3250;
    margin-bottom: 50px;
    font-weight: bold;
}
.inputs, .inputSelect, #biographyDog,#inputComment{
    width: 230px;
    height: 25px;
    border: none;
    background: #E6E3F4;
    padding:5px;
    margin: 5px;
}
.inputSelect{
    height: 30px;
    font-size:14px;
}
#biographyDog{
    height: 60px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    resize: none;
}
#btnLogin, .btnContinue, .btnCreateProfile, .btnLogOut, .eliminateProfile{
    width: 236px;
    height: 25px;
    border: none;
    background: #943DD8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;  
    text-align: center;
    padding: 1px;
    text-decoration: none;
}
.btnCreateProfile, #btnCreateProfile16{
    text-decoration: none;
}
.btnLogOut, .hideButton, .btnContinue{
   margin-top: 100px;
}
.btnLogOut, .eliminateProfile{
    margin-top:5px;
    width: 160px;
    padding:3px 40px;
}
.hideButton{
    width: 236px;
    height: 25px;
    border: none;
    background-color: #cccccc;
    border-radius: 12px;
}
.hide{
    display: none;
}
/* MAIN SCREEEN */
#mainContentInitialPage{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 395px;
    font-weight:bold;
    /* overflow-y: hidden; */
}
header{
    position: fixed;
    width: 100%;
    height: auto;
    background: #D3BBF2;
    box-shadow: 0px 4px 4px rgba(67, 65, 68, 0.25);
}
#logoHeader{
    display: flex;
    width: 100px; 
    align-self: flex-start;
    padding: 5px;
}
.buttonsHeader{
    display: none;
}

footer{
    width: 100%;
    bottom:0;
    padding-top:10px;
    position: fixed;
    background: #F2F2F2;
    border: 1px solid rgba(180, 180, 180, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:60px;
}
.home,.paw,.profile{
    width:40px;
}
.iconsFooter{
    width:100%;
}

/* PROFILE */
.mainMyProfile, .mainMyProfileEmpty{
    background-color: white;
    height: 100%;
    padding-top: 10px;
}
#myProfile, #otherProfile{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-top:60px;
    padding-bottom:25px;
}
#profilePicInfo, #personalitySchedule, #containerPawLikes{
    display: flex;
    flex-direction: row;
    justify-self: space-around;

}
#containerPawLikes{
    margin-top:15px;
}

.imgProfilePic{  
    width: 140px;
}
#myProfilePic,#profilePhotoOther{
    width: 100%;
}
.nametitles{
    font-size: 22px;
    padding-bottom:1px;
    line-height: 26px;
    color: #1E3250;
    font-weight: bold;
    font-style: italic;
}
.nameInfo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0px  40px 0px 40px;
    width: auto;
    height: 100px;
    color: #1E3250;
    text-align: center;
}
.titleProfilePerso{
    width: 65px;
    height: 13px;
    margin-top: 20px;
    margin-bottom: 5px;
}
#infoPersonality{
    font-size:16px;
    width: 95px;
    height: 75px;
    margin-right:40px;
}
.titleProfileSchedule{
    margin-top:18px;
    margin-bottom: 5px;
}
#infoSchedule{
    width: 150px;
    height: 75px;
}
.titleProfilePlaces, .titleProfileBio{
    margin-top: 15px;
    margin-bottom: 5px;
}
#infoPlaces, #infoBio{
    font-size:16px;
    width: 300px;
    height: 60px; 
}
#infoBio{
    height: auto;
}
.styleContainerProfile{
    background-color: #E6E3F4;;
    border-radius: 10px;
    padding: 5px 10px;
}
.texts, .infoBasic, .textsShedule{
    font-size: 16px;
    line-height: 18px;
    
}
.textsShedule{
    font-size: 16px;
}
#contenidoDeLikes{
    margin-top:3px;
    margin-left: 7px;
}
#iconPawMyprofile{
    width: 25px;
}
#contenidoDeLikesOther{
    padding:2px 0px 0px 2px;
}
/* google btn */
.google-btn {
    width: 184px;
    height: 42px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
}
.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #1669F2;
}
#closeOtherProfile{
    align-self:flex-end;
    padding-top: 10px;
    padding-right:20px;
    font-size:20px;
    text-decoration:none;
    position: absolute;
}

/* claramente un error mensaje */
.erromensaje{
    font-size: 13px;
    color:red;
    font-weight: bold;
    margin-left: 20px;
}   
/* input del perro foto */
#photoDog{
    display: none;
}
/* nuevo input personalizado */
.avatar{
    display: inline-block;
    color: black;
    width: 150px;
    padding: 5px 20px;
    border-radius: 13px;
    background-color: #dddddd;
    cursor: pointer;
}
/* botones del formualrio con estilo propio */
#btnCreateProfile6, #btnCreateProfile8{
    margin-top: 20px;
}
#btnCreateProfile14, #btnCreateProfile13,#btnCreateProfile12,#btnCreateProfile15{
   margin-top:30px;
}
#btnCreateProfile14{
    margin-top:10px;
}
/* perfil */
.titleMyProfile{
   margin-top: 10px;
    color: rgba(0, 0, 0, 0.767);
    font-size: 24px;
    font-weight: bold;
}

/* Liked Dogs */
#likesProfiles{
    display: flex;
    flex-flow: row wrap;
    padding-top: 60px;
    padding-bottom: 75px;
}
.imgProfileDog, .imgProfileDogFeed, .iconPawLikesFeed{
    width: 100%;
}
.containerImgProfileDog{
    width:150px;
    height:140px;
}

.containerDoggys{
    width: 150px;
    height: 218px;
    margin-left: 20px;
    padding:10px 0px 30px 0px;
    background: #FFFFFF;
    border: 0.5px solid rgba(100, 116, 130, 0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top:20px;
}
.nameDogLikedDogs, .location, .nameDogFeed, .locationFeed{
    font-weight: bold;
    font-size: 16px;
    padding: 4px;
    color: #1E3250;
    text-align: center;
}
.location{
    font-weight: normal;
    font-size: 12px;
    margin-top:10px;
}
.pawLikedPaw{
    margin-left: 10px;
    width: 24px;
}
.iconPawLikes{
    margin-top: 10px;
    width:100%;
}
.contentLikes{
    margin-left:40px;
    margin-top:-24px; 
}
/* Home dos */
#contentHome{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px;
}
.profilesDogsHome{
    width: 291px;
    height: 459px;
    background: #FFFFFF;
    border: 0.5px solid rgba(100, 116, 130, 0.5);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 
    margin-bottom:40px;
}
.nameDogFeed{
    font-size: 25px;
}
.locationFeed{
    font-size: 19px;
    font-weight: normal;
}
.pawLikedPawFeed{
    width: 35px;
    padding: 40px 0px 25px 20px;
}
.contentLikesFeed{
    font-size: 18px;
    margin: -55px 0px 0px 65px;
}
#menuBar{
    display:flex;
    margin-top:59px;
    position: fixed;
    flex-direction: column;
    right:-300px;
    align-items: center;
    background-color:#D3BBF2;
    padding:10px;
    border-radius:5px;
    transition: all 200ms ease-out;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#menuBar.active{
    right:0;
}
.headerHome{
   display: flex;
   flex-flow: column nowrap;
}
.toggle{
    font-size:25px;
    margin: 40px 20px 10px 0px;
    color:black;
    border: 0.5px solid #655C56;
    cursor: pointer;
    padding: 0px 2px;
}
#logoAndToggle{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#contentToggle{
    margin-top: -44px;
    align-self: flex-end;
    padding-bottom:10px;
}
textarea{
    border:1px solid #D3BBF2;
    border-radius:5px;
}
/*Parte de la barra de cada pregunta */
#contentProgress{
    width: 230px;
    height: 7px;
    margin-top: 40px;
    margin-left:10px;
    padding: 2px;
    background: #E6E3F4;
    border-radius: 2px;
}
#questOne, #questTwo, #questThree, #questFour, #questFive, #questSix,#questSeven, #questEight,#questNine,#questTen,#prefOne,#prefTwo,#prefThree,#prefFour,#signInOne,#signInTwo{
    width: 20px;
    height: 5.5px;
    background: #583DD8;
    border-radius: 2px;
}
#questTwo,#questThree, #questFour,#questFive, #questSix,#questSeven, #questEight,#questNine,#questTen{
    margin-left:23px;
}
#prefOne, #prefTwo,#prefThree, #prefFour{
    width:54px;
}
#prefTwo,#prefThree, #prefFour{
    margin-left:58px; 
}
#signInOne,#signInTwo{
    width:110px;
}
#signInTwo{
    margin-left:115px;
}
/* mensajeconfirmacion */
#modalAceptation{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top:50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
#contentModalAceptacion{
    text-align: center;
    color: rgba(0, 0, 0, 0.62);
    margin: auto;
    padding: 20px;
    width: 70%;
    background-color: white;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    font-size: 18px;
    border: 0.5px solid rgba(100, 116, 130, 0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
#answerYes, #answerNo{
    width: 100px;
    height: 20px;
    border:none;
    background: #943DD8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;  
    text-align: center;
    margin: 9px 5px 0px 0px;
}
#homeIconHeader:hover, #pawIconHeader:hover, #myProfileIconHeader:hover{
    filter: drop-shadow(0px 2px 3px #943DD8);
}
.iconPawLikes:hover{
    filter: sepia(90%);
}
.iconPawLikesFeed:hover{
    filter: hue-rotate(341deg) saturate(4000%);
}

/* comentarios */
.titlesComment{
    font-size:16px;
    padding-left:20px;
    padding-bottom:8px;
    color: #1E3250;
    font-weight: 400;
}
#commentProfile,#commentmyProfile{
    display:flex;
    flex-flow: column nowrap;
    padding-bottom:100px;
}
#commentsDog{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.individualComment{
    padding: 10px;
    width:300px;
    height: auto;
    background: #FFFFFF;
    border: 0.5px solid rgba(100, 116, 130, 0.5);
    border-radius: 15px;
    margin-bottom: 10px;
}
.nameDogComment{
    font-size:15px;
    font-weight: 600;
}
.commentDog{
    font-size: 13px;
}
#inputComment, #inputmyComment{
    align-self:center;
    background: #E6E3F4;
    width:300px;
    height:60px;
    padding: 10px;
    font-size:16px;
}
.btnComment{
    align-self:center;
    border:none;
    background: #943DD8;
    border-radius: 10px;
    color: white;  
    text-align: center;
    width:310px;
    height:25px;
}
#closeOtherProfileMobile{
    align-self: flex-end;
    padding-right: 10px;
}
#closeOtherProfileDesktop{
   display:none;
}
.checkboxOrder{
    display:flex;
    flex-flow: column;
    align-items: flex-start;
}
@media screen and (min-width:1024px){
    #photoInitialPage{
        display: block;
    }
    #photoContentInitialPage{
        display: flex;
        flex-flow: row wrap;
    }
    #initialPage{
        width:40%;
    }
    #signIn, #createProfile, #forgetPassword{ 
        width: 400px;
        height: 580px;  
        padding: 10px 20px;
    }
    #titleSignIn, #titleCreateProfile{
        justify-content: space-between;
    }
    .titles{
        font-size:22px;
    }
    .btnCreateProfile{
        text-align:center;
    }
    footer{
        display: none;
    }
    #logoAndToggle, #headerLikeDogs{
        justify-content: space-around;
        align-items: center;
    }
    .paw, .home, .profile{
        margin-left: 20px;
    }
    .buttonsHeader{
        display: flex;
        align-content: space-evenly;
        margin-left: 20px;
    }
    #contentHome, #likesProfiles {
        padding-top: 80px;
        flex-flow: row wrap;
        justify-content:space-evenly;
    }
    .profilesDogsHome{
        width: 350px;
        height: 530px;
        margin: 0px 90px 80px 90px;
    }
    #headerLikeDogs{
        display: flex;
        flex-direction: row;
    }
    #likesProfiles{
        padding-top: 160px;
        margin: 0px 90px 0px 90px;
    }
    .containerDoggys{
        width: 250px;
        height: 350px;
        margin-left: 20px;
        padding:10px 0px 40px 0px;
        margin-bottom: 80px;
        margin-top:20px;
    }
    .containerImgProfileDog{
        width:250px;
        height:140px;
    }
    .nameDogLikedDogs, .location, .nameDogFeed, .locationFeed{
        font-size: 20px;
        padding: 8px;
        text-align: center;
    }
    .nameDogFeed{
        font-size:26px;
    }
    .location{
        font-size: 18px;
        margin-top:120px;
    }
    .pawLikedPaw{
        margin-left: 20px;
        width: 35px;
    }
    .iconPawLikes{
        margin-top:10px;
        width:100%;
    }
    .contentLikes{
        margin-left:60px;
        margin-top:-32px; 
    }
    .containerLikesDog{
        margin: -10px 0px 0px 0px;
    }
    .imgProfilePic{  
        width: 240px;
        height: 10px;
    }
    .nameInfo{
        margin: 20px  60px 20px 100px;
        width: auto;
        height: 200px;
    }
    .nametitles{
        font-size: 30px;
        padding-bottom:10px;
    }
    .infoBasic{
        font-size: 18px;
        line-height:22px;
    }
    .titleProfilePerso, .titleProfileSchedule, .titleProfilePlaces, .titleProfileBio{
        font-size:16px;
    }
    #infoPersonality{
        width: 200px;
        height: 100px;
        margin-top: 13px;
        line-height: 100px; 
    }
    #infoSchedule{
        width: 200px;
        height: 100px;
    }
    #infoPlaces, #infoBio{
        width: 450px;
        height: 80px; 
    }
    #infoBio{
        height:auto;
    }
    #iconPawMyprofile{
        width:35px;
        padding-left: 0px;
    }
    .textsShedule, .texts{
        font-size: 19px;
        line-height: 25px; 
    }
    #contentToggle{
        align-self: right;
    }
    #containerPawLikes{
        margin-top: 50px; 
    }
    #contenidoDeLikes{
        margin-top: 8px;
    }
    #otherProfile, #myProfile{
        /* padding-top:100px; */
        height: 100vh;
        display:flex;
        flex-flow: row nowrap;
    }
    .titleMyProfile{
        padding: 25px 0px 0px 0px;
        text-align: center;
        font-size: 30px;
     }
    /* comentarios perfils */
    #commentProfile,#commentmyProfile{
        padding-top: 100px;
    }
    .titlesComment{
        font-size:21px;
        padding-left:5px;
        padding-bottom:8px;
        padding-top: 30px;
    }
    .individualComment{
        line-height: 25px; 
        padding: 10px;
        width:500px;
        min-height: 60px;
        border-radius: 15px;
        margin-bottom: 10px;
    }
    .nameDogComment{
        font-size:18px;
    }
    .commentDog{
        font-size: 14px;
    }
    #inputComment, #inputmyComment{
        width:500px;
        height:60px;
        padding: 10px;
        font-size:16px;
    }
    .btnComment{
        width:500px;
        height:35px;
        font-size:16px;
    }
    .mainMyProfile{
        background-color: white;
        height:100%;
        display:flex;
        flex-direction: row;
        padding-top: 10px;
    }
    .mainMyProfileEmpty{
        background-color: white;
        height:100vh;
    }
    #myProfile, #otherProfile{
        width:50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding-top:20px;
        padding-bottom:25px;
    }
    #closeOtherProfile{
        position: relative;
        float:right;
        padding:5px 10px 5px 10px;
        font-size:30px;
        text-decoration:none;
        border: 0.5px solid #393e46;
        text-align: right;
        border-radius: 50%;
    }
    #contenidoDeLikesOther{
        padding:8px 0px 0px 5px;
    }
    .pawLikedPawFeed{
        width: 42px;
        padding: 30px 0px 30px 25px;
    }
    .contentLikesFeed{
        font-size: 18px;
        margin: -65px 0px 0px 75px;
    }
    .imgProfileDog:hover{
        border: 2px solid #ad72dac9
    }
    #contentModalAceptacion{
        margin: auto;
        padding: 20px;
        width: 400px;
    }
    #closeOtherProfileDesktop{
        display: block;
        align-self:flex-end;
        text-decoration:none;
        position: relative;
        float:right;
        padding:5px 10px 5px 10px;
        font-size:22px;
        text-decoration:none;
        text-align: right;
    }
 #closeOtherProfileMobile{
        display:none;
    }
    

}   